@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Colors */
/*.red { color: #ff0000; }
.orange { color: #ffa500; }
.yellow { color: #ffff00; }
.light-green { color: #90ee90; }
.green { color: #008000; }*/

.red,
.orange,
.yellow,
.light-green,
.green { color: #000000; }

* {
  font-family: 'Roboto', sans-serif;
}

@media print {
  .border,
  .border-right {
    border-color: #000000 !important;
  }

  table, tr, td, td > a.text-light, i.text-light {
    color: #000000 !important;
  }

  * {
      color: #000000 !important;
      background: none !important;
  }
}
