@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: 'Street Cred';
  src: url('https://raw.githubusercontent.com/yannicklescure/cv/master/fonts/street_cred/street_cred.eot'); /* IE9 Compat Modes */
  src: url('https://raw.githubusercontent.com/yannicklescure/cv/master/fonts/street_cred/street_cred.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/yannicklescure/cv/master/fonts/street_cred/street_cred.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/yannicklescure/cv/master/fonts/street_cred/street_cred.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/yannicklescure/cv/master/fonts/street_cred/street_cred.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body, main, #content, #sidebar {
  min-height: 100vh;
}

.icon-18 { font-size: 18px; }
.icon-24 { font-size: 24px; }
.icon-32 { font-size: 32px; }

/* Colors */
/*.red { color: #ff0000; }
.orange { color: #ffa500; }
.yellow { color: #ffff00; }
.light-green { color: #90ee90; }
.green { color: #008000; }*/

.red,
.orange,
.yellow,
.light-green,
.green { color: #000000; }

* {
  font-family: 'Roboto', sans-serif;
}

.display-3 {
  font-family: 'Street Cred', sans-serif;
}

#experience:hover,
#portfolio:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
}

@media print {
  .border,
  .border-right {
    border-color: #000000 !important;
  }

  table, tr, td, td > a.text-light, i.text-light {
    color: #000000 !important;
  }

  * {
      color: #000000 !important;
      background: none !important;
  }
}
